In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
import  pickle

In [3]:
dfc = pd.read_csv("With_Import_Export_ImportValue.csv")
dfc

,Production_Year,Month,States_In_Number,Variety_Rank,Modal Price,Export(Quantity in lakh bales of 170 kgs),Import Value in RS.crores
0,2012,1,1,56,3873.636364,129.57,2057.77
1,2012,2,1,56,3721.388889,129.57,2057.77
2,2012,3,1,56,3576.388889,129.57,2057.77
3,2012,4,1,56,3623.846154,129.57,2057.77
4,2012,5,1,56,3684.500000,129.57,2057.77
...,...,...,...,...,...,...,...
36205,2018,9,6,56,4320.000000,67.59,8339.26
36206,2018,10,6,56,5450.000000,67.59,8339.26
36207,2018,12,6,56,5423.666667,67.59,8339.26
36208,2019,1,6,56,5337.500000,43.54,5120.00
36209,2019,2,6,56,5337.000000,43.54,5120.00

In [3]:
x = dfc.iloc[:, 0:4].values 
y = dfc.iloc[:, 4].values

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [5]:
from sklearn.ensemble import RandomForestRegressor   
  
#Create a Random Forest regressor object from Random Forest Regressor class
RFReg = RandomForestRegressor(n_estimators = 80,bootstrap = True,criterion='mse')

  
#Fit the random forest regressor with training data represented by X_train and y_train
RFReg.fit(X_train, y_train)

RandomForestRegressor(n_estimators=80)

In [6]:
y_predict_rfr = RFReg.predict((X_test))

#Model Evaluation using R-Square for Random Forest Regression
from sklearn import metrics
r_square = metrics.r2_score(y_test, y_predict_rfr)
print('R-Square Error associated with Random Forest Regression is:', r_square)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_predict_rfr))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_predict_rfr))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_predict_rfr)))

R-Square Error associated with Random Forest Regression is: 0.7349405780372578
Mean Absolute Error: 282.3400115577643
Mean Squared Error: 208022.91987254116
Root Mean Squared Error: 456.095296919998

In [7]:
Price_pred = RFReg.predict([[2021,    6,    8,   55]])
print("Predicted Price: % d"% Price_pred)

Predicted Price:  4550

In [8]:
RFReg.score(X_test,y_test)

0.7349405780372578

In [9]:
RFReg.score(X_train,y_train)

0.8286437128271151

In [10]:
pickle.dump(RFReg,open('model.pkl','wb'))
model = pickle.load(open('model.pkl','rb'))

In [11]:
model.predict([[2022,    2,    8,   57]])

array([5107.9519076])

In [12]:
dfc.to_pickle('my_df.pickle')

In [15]:
dfc1 = pd.read_pickle('my_df.pickle')
dfc1

       Production_Year  Month  States_In_Number  Variety_Rank  Modal Price
0                 2012      1                 1            56  3873.636364
1                 2012      2                 1            56  3721.388889
2                 2012      3                 1            56  3576.388889
3                 2012      4                 1            56  3623.846154
4                 2012      5                 1            56  3684.500000
...                ...    ...               ...           ...          ...
36205             2018      9                 6            56  4320.000000
36206             2018     10                 6            56  5450.000000
36207             2018     12                 6            56  5423.666667
36208             2019      1                 6            56  5337.500000
36209             2019      2                 6            56  5337.000000

[36210 rows x 5 columns]