In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import joblib as jb
from datetime import datetime
from sklearn import tree
import  pickle

In [6]:
model = pickle.load(open('model.pkl','rb'))

In [4]:
df = pd.read_csv('final 2021.csv')

In [7]:
today = datetime.today()
y = today.year
m = today.month

In [8]:
month_list  = [i for i in range(m,13)]

In [9]:
month_list

[7, 8, 9, 10, 11, 12]

In [10]:
variety_list = [i for i in range(0,92)]

In [11]:
variety_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91]

In [9]:
state_list = [i for i in range(0,11)]

In [10]:
state_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
df

       Production_Year  Month  States_In_Number  Variety_Rank  Modal Price
0                 2009     11                10            70  3048.571429
1                 2009     12                 9            70  3280.000000
2                 2009      4                 4            74  2493.000000
3                 2009      3                 4            74  2391.000000
4                 2009      6                 4            14  2414.666667
...                ...    ...               ...           ...          ...
46150             2021      1                 8            57  5517.000000
46151             2021      1                 8            57  5517.000000
46152             2021      1                 8            57  5552.000000
46153             2021      2                 8            57  5150.000000
46154             2021      1                 5            64  5480.000000

[46155 rows x 5 columns]

In [12]:
dict = {}

In [13]:
for i in state_list:
    list = df['Variety_Rank'][df['States_In_Number'] == i].unique()
    dict[i] = list

In [14]:
dict

{0: array([29, 57, 15, 65, 56, 63, 34, 70, 73, 68, 83], dtype=int64),
 1: array([15, 19, 22, 56, 57, 65, 29,  9, 44, 20, 24, 53, 35,  1, 45,  2,  3,
        14, 16, 76, 68, 42, 55, 21, 27,  6, 71, 86, 51, 25, 52, 54, 63, 32,
        34, 50, 48, 30, 90, 75, 59, 18, 38, 69, 33, 70,  5, 31, 58, 13, 17,
        11, 23, 79, 80, 46, 67, 73, 81, 89], dtype=int64),
 2: array([68, 29, 57, 12, 86, 56, 75, 39, 10, 45, 55, 24, 15, 22, 80,  1, 36,
        42, 34, 60, 69, 91, 84,  9, 81, 82, 78, 53, 73, 63, 58],
       dtype=int64),
 3: array([57,  9, 28, 86, 65, 50, 75, 70, 63, 69, 42, 61, 36, 56, 39, 83, 77,
        81, 60, 78, 67], dtype=int64),
 4: array([74, 14, 72, 66, 57, 43, 46,  0, 51, 58, 67, 18, 90, 36, 29, 25, 47,
        42,  8, 55, 52,  9, 31, 44], dtype=int64),
 5: array([57, 64, 49,  5, 16, 11, 48, 65,  4, 12, 56, 18, 76, 69, 28, 23, 58,
        50,  7, 53, 62, 27, 61, 34, 70, 84, 81, 73, 78, 59, 85, 42, 88],
       dtype=int64),
 6: array([65, 56, 53, 19, 35, 25, 57, 42, 63, 32, 86, 48, 50, 69, 45, 33, 51,
        22, 54, 40, 46, 55, 79,  9, 59, 41, 16,  5, 75, 27, 38, 37, 24, 21,
        10, 71, 76, 20, 82, 11, 23, 89, 81, 73, 78, 83], dtype=int64),
 7: array([26, 65, 70, 57, 46,  9, 18, 56, 87, 84, 81], dtype=int64),
 8: array([57, 39, 55, 67, 44, 45, 60, 50, 86, 71, 65], dtype=int64),
 9: array([70, 42, 57, 65,  9, 24, 84, 81], dtype=int64),
 10: array([70, 57, 65, 66, 64, 24, 23,  9, 63, 71, 87, 82, 81], dtype=int64)}

In [15]:
pred = {}

In [16]:
minp =99999
maxp =0
mins = -1
minv = -1
maxs = -1
maxv = -1
for m in month_list:
    minp =99999
    maxp = 0
    mins = -1
    minv = -1
    maxs = -1
    maxv = -1
    for s in state_list:
        for v in dict[s]:
            predic = model.predict([[y,m,s,v]])
            if predic>maxp:
                                
                                   maxp = predic
                                   maxs = s
                                   maxv = v
                                   
            if predic<minp:
                                   minp = predic
                                   mins = s
                                   minv = v
            
            
    pred[m] = {"min": [mins,minv,minp], "max":[maxs,maxv,maxp]}

In [17]:
pred

{7: {'min': [2, 57, array([4772.03025693])],
  'max': [5, 84, array([6344.31481354])]},
 8: {'min': [2, 57, array([4807.01433083])],
  'max': [5, 84, array([6352.85926458])]},
 9: {'min': [2, 57, array([4772.08509544])],
  'max': [5, 84, array([6376.57711589])]},
 10: {'min': [2, 57, array([4654.63909437])],
  'max': [5, 84, array([6087.23092444])]},
 11: {'min': [2, 57, array([4692.64140212])],
  'max': [4, 90, array([6149.35770134])]},
 12: {'min': [2, 57, array([4687.31716954])],
  'max': [4, 90, array([6150.70264182])]}}

In [95]:
model.predict([[2021,8,8,57]])

array([5784.27333882])

In [89]:
df21 = df[df['Production_Year']=="2021"]

C:\Users\hp\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [90]:
df21

Empty DataFrame
Columns: [Production_Year, Month, States_In_Number, Variety_Rank, Modal Price]
Index: []